@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~leaflet/dist/leaflet.css";

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; /* Usamos la fuente Roboto */
  background-color: #f0f0f0; /* Un fondo gris claro */
}

a {
  text-decoration: none;
}

/* Estilos predeterminados para la navegación (pantallas grandes) */
nav {
  width: 100%; /* Asegúrate de que el nav ocupe todo el ancho */
  background-color: transparent;
  position: relative;
}

nav ul {
  display: flex; /* En fila para pantallas grandes */
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

/* Estilos para los elementos de la lista */
nav ul li {
  padding: 16px; /* Espacio alrededor de cada elemento */
}

/* Espacio adicional para el enlace "Home" */
nav ul li:first-child {
  margin-left: 150px; /* Ajusta este valor según sea necesario */
}

/* Media Query para pantallas medianas (hasta 768px) */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Apilar elementos en columna */
    gap: 16px;
  }
}

/* Media Query para pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
  nav ul {
    display: grid; /* Cambiar a grid para pantallas pequeñas */
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
