@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~leaflet/dist/leaflet.css";

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; /* Usamos la fuente Roboto */
  background-color: #f0f0f0; /* Un fondo gris claro */
}

a {
  text-decoration: none;
}

/* Estilos predeterminados para la navegación (pantallas grandes) */
nav {
  width: 100%; /* Asegúrate de que el nav ocupe todo el ancho */
  background-color: transparent;
  position: relative;
}

nav ul {
  display: flex; /* En fila para pantallas grandes */
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

/* Estilos para los elementos de la lista */
nav ul li {
  padding: 16px; /* Espacio alrededor de cada elemento */
}

/* Espacio adicional para el enlace "Home" */
nav ul li:first-child {
  margin-left: 150px; /* Ajusta este valor según sea necesario */
}

/* Media Query para pantallas medianas (hasta 768px) */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Apilar elementos en columna */
    gap: 16px;
  }
}

/* Media Query para pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
  nav ul {
    display: grid; /* Cambiar a grid para pantallas pequeñas */
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important; /* Oculta las flechas de navegación */
}

.loader {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(
    circle 11.2px at 50% 50%,
    #0000 94%,
    #ff4747
  );
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}

/** Loader Truck */

/* From Uiverse.io by vinodjangid07 */
.loaderTruck {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

/* Diseño de btn de iniciar Ruta */
/* From Uiverse.io by umerhassaan */
/* Yoinked from CodePen, but improved the animation
so that it is smooth among other more minor things */

.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 60;
  border-radius: 100px;
  overflow: hidden;
  padding: 2px;
  isolation: isolate;
}

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #d1d1d1, #02367b, #a7bfde);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
    0.75s linear infinite;
  animation-play-state: running;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.codepen-button span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #55ad59;
  border-radius: 100px;
  height: 100%;
}

/* SettingsLoader.module.css */
.settingsLoader {
  position: relative;
  width: 75px;
  height: 100px;
}

.settingsLoader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.settingsLoader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}

.settingsLoader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}

.settingsLoader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}

.settingsLoader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}

.settingsLoader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}

.settingsLoader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  animation: ball624 4s infinite;
}

/* Keyframes */
@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  50% {
    transform: translate(60px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
